.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(10, 25, 41, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Trebuchet MS', sans-serif;
  transition: all 0.3s ease;
}

.logo-img {
  height: 56px;
  width: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.center-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.center-buttons button {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}

.center-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.router-link-active {
  border-bottom: 2px solid white;
}

.login-button {
  color: #1976d2;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

.login-button:hover {
  background-color: skyblue;
  color: white;
}

.user-info {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.default-avatar-icon {
  font-size: 40px;
  color: white;
}

.menu-button {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.menu-button.opened {
  transform: rotate(90deg);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  padding: 16px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.mobile-menu button {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  text-align: left;
}

.mobile-menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.desktop-only {
  display: flex;

  @media (max-width: 768px) {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .center-buttons {
    display: none;
  }

  .menu-button {
    display: inline-flex;
  }

  .navbar {
    padding: 0 10px;
  }

  .logo-img {
    height: 40px;
  }
}

// Décalage du menu contextuel (avatar)
::ng-deep .cdk-overlay-pane {
  margin-top: 8px !important;
}
