<nav class="dashboard-navbar" role="navigation" aria-label="Dashboard menu">
  <ul>
    <li routerLink="/dashboard/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>dashboard</mat-icon>
      <span>Accueil</span>
    </li>
    <li routerLink="/dashboard/sites" routerLinkActive="active">
      <mat-icon>map</mat-icon>
      <span>Sites</span>
    </li>
    <li routerLink="/dashboard/events" routerLinkActive="active">
      <mat-icon>event</mat-icon>
      <span>Événements</span>
    </li>
    <li routerLink="/dashboard/guides" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span>Guides</span>
    </li>
    <li routerLink="/dashboard/comments" routerLinkActive="active">
      <mat-icon>comment</mat-icon>
      <span>Commentaires</span>
    </li>
    <li routerLink="/dashboard/reservations" routerLinkActive="active">
      <mat-icon>book</mat-icon>
      <span>Réservations</span>
    </li>
  </ul>
</nav>
