<div class="container">
  <h2 class="title">Sites dans la catégorie : {{ categorie | titlecase }}</h2>

  <div class="categories-container">
    <div class="card" *ngFor="let site of sites">
      <img [src]="site.image" [alt]="site.name" class="card-image" />
      <div class="card-content">
        <h2>{{ site.name }}</h2>
        <p>{{ site.description }}</p>
        <button class="btn" (click)="goToDetails(site)">Explorer</button>
      </div>
    </div>
  </div>

  <div class="back-btn">
    <button class="btn-retour" (click)="goBack()">Retour</button>
  </div>
</div>
