.dashboard-layout {
  display: flex;
  background: #f5f7fa;
  min-height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.dashboard-page-content {
  flex: 1;
  padding: 20px;
  margin-left: 220px;
  width: 100%;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
