.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fa;
}

.dashboard-page-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 220px; // largeur de la sidebar
  width: 100%;
  min-height: 100vh;
}
